# Import libraries

In [2]:
import numpy as np
import pandas as pd
from sklearn import metrics

# Load Data

In [3]:
train_data = pd.read_csv('fashion-mnist_train.csv')
train_data.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
test_data = pd.read_csv('fashion-mnist_test.csv')
test_data.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,9,8,...,103,87,56,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,34,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,14,53,99,...,0,0,0,0,63,53,31,0,0,0
3,2,0,0,0,0,0,0,0,0,0,...,137,126,140,0,133,224,222,56,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# Data Selection

In [5]:
X_train = train_data.iloc[:, 1:].values
Y_train = train_data.iloc[:, 0].values
X_test = test_data.iloc[:, 1:].values
Y_test = test_data.iloc[:, 0].values

# Modelling
For Naive Bayes we model differnt algorithms for multiclassification and then take the model which gives the best result

In [6]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, Y_train)
predictions = classifier.predict(X_test)
print('Accuracy is :', metrics.accuracy_score(Y_test, predictions))

Accuracy is : 0.5914

In [7]:
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB()
classifier.fit(X_train, Y_train)
predictions = classifier.predict(X_test)
print('Accuracy is :', metrics.accuracy_score(Y_test, predictions))

Accuracy is : 0.6674

In [8]:
from sklearn.naive_bayes import ComplementNB
classifier = ComplementNB()
classifier.fit(X_train, Y_train)
predictions = classifier.predict(X_test)
print('Accuracy is :', metrics.accuracy_score(Y_test, predictions))

Accuracy is : 0.6066

In [9]:
from sklearn.naive_bayes import BernoulliNB
classifier = BernoulliNB()
classifier.fit(X_train, Y_train)
predictions = classifier.predict(X_test)
print('Accuracy is :', metrics.accuracy_score(Y_test, predictions))

Accuracy is : 0.7141

From the above models, we get that Bernoulli Naive Bayes gives the best result

In [12]:
from sklearn.metrics import confusion_matrix, classification_report
cfm = pd.DataFrame(confusion_matrix(Y_test, predictions))
cfm.columns= range(10)
cfm.index = range(10)
cfm

     0    1    2    3    4    5    6    7    8    9
0  753    3   11  130    6    0   69    1   27    0
1    6  923   22   36   12    0    1    0    0    0
2    3    1  699   11  216    0   50    0   20    0
3   43   71    5  825   31    0   23    0    2    0
4    1    5  328  131  499    0   25    0   11    0
5    0    0    1    2    0  672    1  235   20   69
6  211    4  214   91  256    0  181    0   43    0
7    0    0    0    0    0    8    0  875    0  117
8    0    3   14   59    2    0   19   46  855    2
9    0    0    1    4    0    0    2  127    7  859

In [13]:
print (classification_report(Y_test, predictions))

              precision    recall  f1-score   support

           0       0.74      0.75      0.75      1000
           1       0.91      0.92      0.92      1000
           2       0.54      0.70      0.61      1000
           3       0.64      0.82      0.72      1000
           4       0.49      0.50      0.49      1000
           5       0.99      0.67      0.80      1000
           6       0.49      0.18      0.26      1000
           7       0.68      0.88      0.77      1000
           8       0.87      0.85      0.86      1000
           9       0.82      0.86      0.84      1000

    accuracy                           0.71     10000
   macro avg       0.72      0.71      0.70     10000
weighted avg       0.72      0.71      0.70     10000

From the report we know that the model gives extremely poor results for label 6